<h4 class="sb-top xspan">
  <span ng-if="parent.length">
    <a ng-href="{{redirectParent()}}">{{parent}}</a>
    <span class="text-muted"> > </span>
  </span>
  {{page}}
  <span ng-if="value.length">
    <span class="text-muted"> | </span><small>{{value}}</small>
  </span>
</h4>
