<div  id="fd-userfeatures-enableclient"  class="form-group form-group-sm form-inline">
    <label class="control-label col-sm-3" id="lb-userfeatures-enableclient" for="it-userfeatures-enableclient">{{ 'enable_cti_account' | translate }}:</label>
    <div  class="col-sm-3" >
        <input type="checkbox" id="it-userfeatures-enableclient" class="it-checkbox" ng-model="checked" />
    </div>
</div>
<div   class="form-group form-group-sm form-inline" ng-show="ctiLoginActivated()">
    <label class="control-label col-sm-3" id="lb-userfeatures-loginclient" for="it-userfeatures-loginclient">{{ 'login' | translate }}:</label>
    <div  class="col-sm-3" >
        <input type="text" id="it-userfeatures-loginclient" class="form-control" size="15" ng-model="username" />
    </div>
</div>

<password-policy-valid ng-show="ctiLoginActivated()"
    password="password"
    name="'userfeatures[passwdclient]'"
    regex="'^(?=.*[a-z])(?=.*?[0-9])[A-Za-z0-9\\W_][^&quot;\'\\\<\>]{8,}$'"
    password-id="'userfeatures-passwdclient'"
    policy-level="'policy_invalid_2'"
    >
</password-policy-valid>

<input name="userfeatures[enableclient]" value="{{checked ? 1 : 0}}" class="form-control it-mblur hidden-angular-input">
<input name="userfeatures[loginclient]" value="{{username}}" class="form-control it-mblur hidden-angular-input">