  <div class="form-group form-group-sm form-inline" ng-class="{ 'has-error' : error }">

    <label for="it-{{columns[0].name}}" class="control-label center-label col-sm-3">{{name | translate}}</label>
    <span class="dynamic-table-collapse">
      <a href="" ng-click="showAllInputs = !showAllInputs">
        <span ng-if="!showAllInputs">
          {{'advanced' | translate}} <i class="fa fa-angle-double-right"></i>
        </span>
        <span ng-if="showAllInputs">
          <i class="fa fa-angle-double-left"></i> {{'hide' | translate}}
        </span>
      </a>
    </span>
    <table class="dynamic-table" ng-class="showAllInputs ? 'col-sm-7' : 'col-sm-3'">
      <thead>
        <tr>
          <th ng-repeat="column in columns track by $index" class="th-center" ng-show="column.required || showAllInputs">
            <label ng-class="{'has-error' : error && column.required}">{{column.name | translate}}</label>
            <span ng-if="column.tooltip" tooltip-placement="right" uib-tooltip="{{'tooltip_'+column.name | translate}}"
              class="help-tooltip glyphicon glyphicon-question-sign">
            </span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="ui-sortable" ng-repeat="i in inputs">
          <td ng-repeat="column in columns track by $index" ng-show="column.required || showAllInputs"}>
            <div class="form-group form-group-sm form-inline">
              <div class="col-sm-3">
                <input name="{{column.name}}" type="text" size="{{column.length}}" placeholder="{{column.placeholder}}"
                  class="form-control" ng-model="i[column.name]" id="it-{{column.name}}">
              </div>
            </div>
          </td>

          <td class="add-button">
              <a href="" title="{{'add_line' | translate}}" ng-click="addNewInput()">
              <img src="/img/site/button/mini/orange/bo-add.png" border="0" alt="{{'add_line' | translate}}" ng-show="showAddInput(i)"></a>
          </td>

          <td class="td-right">
            <a href="" title="{{'remove_line' | translate}}" ng-show="i.id > 1" ng-click="removeInput(i)">
              <img src="/img/site/button/mini/blue/delete.png" alt="{{'remove_line' | translate}}">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="col-sm-4 col-sm-offset-3">
      <div ng-show="error" class="fm-error-icon">{{'fm_field_required' | translate}}</div>
  </div>
</div>
