<label class="control-label col-sm-3 listwithboxes-label">{{listTitle}} :</label>
<div class="col-sm-3 listwithboxes-body">
    <div ng-if="items.length >= 1" class="listwithboxes-body-list-wrapper">
        <div ng-repeat="item in items | orderBy: '+id'" class="listwithboxes-body-list">
            <input type="checkbox" ng-checked="precheckedBoxes.includes(item.id)" class="it-checkbox" ng-click="checkboxToggleAction({id: item.id})">
            {{item.display_name}}
        </div>
    </div>
    <div ng-if="items.length == 0" class="listwithboxes-empty">{{onEmptyList | translate}}</div>
</div>