<div>
  <div class="multiple-select-sortable" ng-class="{ 'has-error' : error }">
    <label class="control-label col-sm-3">{{label | translate}}</label>
    <table class="col-sm-6">
      <tr>
        <th>
          <div class="col-sm-12 table-title">{{'selected_items' | translate}} <span class="badge">{{selected.length}}</span>
            <a href="" ng-click="removeAll()" class="delete-add-link"> {{'delete_all' | translate}}</a>
          </div>
        </th>

        <th>
          <div class="col-sm-12 table-title">{{'available_items' | translate}} <span class="badge">{{list.length}}</span>
            <a href="" ng-click="addAll()" class="delete-add-link"> {{'add_all' | translate}}</a>
          </div>
        </th>
      </tr>

      <tr>
        <td>
          <div class="section-sortable">
            <div class="col-sm-12">
              <ul ng-model="selected" class="list-sortable">
                <li ng-repeat="item in selected" class="item-sortable">{{item.name}}
                  <i class="fa fa-arrows-v add-route-arrow-icon"></i>
                  <span class="close" ng-click="remove(item)">×</span>
                </li>
              </ul>
            </div>
          <div>
        </td>
        <td>
          <div class="section-sortable">
            <div class=" col-sm-12">
              <ul ng-model="list" class="list-sortable">
                <li ng-repeat="item in list" class="item-sortable available">{{item.name}}
                  <i class="fa fa-plus add-route-plus-icon" ng-click="add(item)"></i>
                </li>
              </ul>
            </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4 col-sm-offset-3"><div ng-show="error" class="fm-error-icon">{{'fm_field_required' | translate}}</div></div>
</div>
