<div class="form-group">

  <div class="btn-group sb-advanced-menu" ng-if="plusAction">
    <button type="button" class="glyphicon glyphicon-plus btn btn-default btn-action dropdown-toggle" ng-click="plusAction()" id="toolbar-bt-add">
    </button>
  </div>

  <div class="btn-group sb-advanced-menu" ng-if="dropdownActions.length >= 1" ng-mouseenter="openDropdown = true" ng-mouseleave="openDropdown = false" ng-if="dropdownActions">
    <button type="button" class="glyphicon glyphicon-chevron-down btn btn-default btn-action dropdown-toggle"
    id="toolbar-bt-advanced">
    </button>
    <ul id="toolbar-advanced-menu" class="dropdown-menu dropdown-menu-supertoolbar" ng-if="openDropdown">
      <li ng-repeat="action in dropdownActions">
        <a href="#" ng-click="action.func()">{{action.label | translate}}</a>
      </li>
    </ul>
  </div>
  <div class="supertoolbar-error alert-toolbar" ng-if="displayedError">
      <div class="alert alert-danger">
        {{displayedError | translate}}
      </div>
  </div>

</div>
