<div class="form-group" onerror="">
  <div class="btn-group sb-advanced-menu" ng-if="actions">
    <div ng-if="actions.length == 1">
      <a class="glyphicon glyphicon-plus btn btn-default btn-action"
        ng-href="./?act={{actions[0]}}{{getOtherParams()}}" ng-init="$last=true" on-finish-render="{{page}}ActionsLoaded">
      </a>
    </div>
    <div ng-if="actions.length > 1">
      <button type="button" class="glyphicon glyphicon-plus btn btn-default btn-action dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" id="toolbar-bt-add">
      </button>
      <ul id="toolbar-add-menu" class="dropdown-menu">
        <li ng-repeat="act in actions track by $index" on-finish-render="{{page}}ActionsLoaded">
          <a ng-href="./?act={{act}}{{getOtherParams()}}">{{getLabelKey(act, page) | translate}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="btn-group sb-advanced-menu" ng-if="actionsAdv && isListDisplayed()">
    <button type="button" class="glyphicon glyphicon-chevron-down btn btn-default btn-action dropdown-toggle" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" id="toolbar-bt-advanced">
    </button>
    <ul id="toolbar-advanced-menu" class="dropdown-menu">
      <li ng-repeat="actAdv in actionsAdv track by $index">
        <a href="#" id={{actAdv}} >{{getLabelKey(actAdv, page) | translate}}</a>
      </li>
    </ul>
  </div>

  <div class="btn-group sb-advanced-menu" ng-if="plugins">
    <button class="glyphicon glyphicon-refresh btn btn-default btn-action"
    ng-click="updatePlugins()" title="{{'toolbar_opt_update' | translate}}">
    </button>
  </div>

  <div ng-if="getError()" class="alert-toolbar">
      <div class="alert alert-danger">
        {{getError() | translate}}
      </div>
  </div>
</div>
