.table {
  margin-bottom: 0;

  .small-td {
    width: 54px;
    input {
      top: 0!important;
    }
  }

  tr.sb-top:hover {
    background-color: @xivo-gradient-light-gray;
  }

  th {
    border: 0 !important;
  }

  td.with-id:first-child {
    width: 60px;
  }

  .table-inner {
    background-color: transparent;

    & tr:first-child > td:first-child {
      border: none;
    }
  }

  .no-padding {
    padding: 0;
  }

  &.table-striped-reverse > tbody > tr:nth-of-type(odd) {
    background-color: white;
  }

  &.table-striped-reverse > tbody > tr:nth-of-type(even) {
    background-color: @xivo-gradient-light-gray;
  }

  &.table-striped-reverse  > tbody > tr:hover {
    background-color: @xivo-gradient-dark-gray;
  }
}

list-table {
  .sb-top, .sb-content {
    font-size: 13px;
  }
}

.blank-table {
  padding: 0;

  th {
    width: 50%;
  }

  td {
    border: 0 !important;
    background-color: white;
  }

  tbody > tr:first-child {
    background: none;
  }

  tr:first-child:hover {
    background-color: @xivo-gradient-light-gray;
  }

  .table-bordered {
    border: 0 !important;
  }

  tr{
    border-bottom: 1px solid #e1e1e1;
  }

  tr:last-child {
    border-bottom: 0 !important;
  }
}

.no-padding > [class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
}

.center-label {
  margin-top: 32px;
}

.dynamic-table-collapse {
  position: relative;
  right: 70px;
  z-index: 1;

  a {
    font-size: 11px;
    font-weight: bold;
  }

  a:hover, a:focus {
    text-decoration: none;
  }
}

.dynamic-table {
  margin-left: 15px;
  -webkit-transition:all linear 0.15s;
  transition: all linear 0.15s;

  thead {
    border-bottom: solid 1px lightgrey;
  }

  th:last-child {
    padding-right: 50px;
  }

  tr:first-child {
    td {
      padding-top: 10px;
    }
  }

  td {
    padding-top: 5px;
  }

  label {
    font-size: 12px;
  }

  .add-button {
    padding-right: 5px;
  }

  .has-error {
    color: @xivo-danger !important;
  }

}
