/*
*********************** File kept for reference to be removed at the end of the transformation ************************
***********************                    Replaced by xivo.less build by npm                  ************************
*/

/*
 * XiVO Web-Interface
 * Copyright (C) 2006-2014  Avencall
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

a {color: #000;text-decoration: none;font-size: 8pt;}
a:hover {color: #1772ce;}
a, body, span, div, td, tr, input, textarea, select {font-family: verdana,arial,sans-serif,helvetica;}
body {text-align: center;background-color: #7f99b1;background-repeat: repeat-y;background-image: url(../img/site/bg.gif);background-position: center center;}
body, th, td {font-size: 9pt;color: #000;}
div, input, select, textarea, optgroup {font-size: 8pt;}
body, dl, dt, dd, h1, h2, h3, h4, h5, h6, hr, form, ul, li, ol, p, table {margin: 0px;padding: 0px;}
h1, h2, h3, h4, h5, h6 {font-size: 9pt;}
hr, table {border: none;border-spacing: 0px;}
ol, li, ul {list-style: none;}
pre {text-align: left;}

.i-image {margin: 0px;padding: 0px;}

.b-nosize, .sb-foot {font-size: 1pt;margin: 0px;}
.b-nosize a {font-size: 1pt;margin: 0px;}

.b-nodisplay {display: none;}
.b-bdisplay {display: block;}
.b-ldisplay {display: inline;}

.curpointer {cursor: pointer;}
.clearboth {clear: both;}

.xspan span {padding: 4px 0px;width: 10px;background-repeat: no-repeat;float: left;background-position: left top;}

#bc-body {width: 1000px;margin: 0px auto;vertical-align: top;text-align: left;}
#bc-head {width: 970px;margin: 0px 15px;}
#bc-main {width: 970px;margin: 0px 15px;padding-top: 20px;}
* html #bc-main {float: none;}
#bc-foot h5 {border: 1px solid #5dbc00;border-top-width: 0px;}

#bc-foot h6 {text-align: center;color: #999;font-size: 7pt;margin-top: 10px;}

#version-copyright {clear: both;font-size: 7pt;padding: 40px 0px 5px;text-align: center;}
#version-copyright a {font-size: 7pt;}

.bg-grey {background-color: #9e9e9e;}
.bg-green {background-color: #5dbc00;}
.bg-red {background-color: #bc0000;}

.bo-yellow {border: 1px solid #ded11d;}
.bo-green {border: 1px solid #5dbc00;}
.bo-red {border: 1px solid #bc0000;}
.bo-grey, .b-bo-grey {border: 1px solid #9e9e9e;}
.bo-black {border: 1px solid #000;}

.b-bo-grey, .bo-grey {border-top-width: 0px;border-bottom-width: 0px;}
.bo-grey {padding: 0px 10px;}

.c-green {color: #5dbc00;}
.c-red {color: #bc0000;}
.c-orange {color: #ff9d03;}

#b-content {width: 760px;}
#b-lmenu {width: 200px;float: left;margin-left: 2px;}
#bc-content {float: left;margin-left: 6px;}

.fm-paragraph {padding: 3px;text-align: left;}
.fm-paragraph input {padding: 0px 2px;}
.fm-paragraph select {max-width: 350px;}
.fm-paragraph textarea, .fm-paragraph select {padding-left: 2px;}
.fm-paragraph-submit {text-align: center;padding: 10px 4px 0px 0px;}
.fm-paragraph .itb-submit, .fm-paragraph .itb-button, .itb-button, .itb-submit {background-position: left top; background-repeat: repeat-x;background-image: url(../img/site/button/bg-button.gif);color: #000;border: 1px solid #999;cursor: pointer;}
.fm-paragraph .itb-image {margin: 0px;padding: 0px;border: 0px solid #000;}

.fm-paragraph input, .fm-paragraph select, .fm-paragraph textarea, .fm-paragraph .it-enabled {margin: 0px 2px;border: 1px solid #7f99b1;background-color: #beddfb;color: #000;}

.fm-paragraph .it-disabled, .fm-paragraph .it-readonly {border: 1px solid #a5acb2;background-color: #ebebe4;color: #aca899;}
.fm-paragraph .it-readonly {color: #000;}

.fm-paragraph .it-mblur {border: 1px solid #7f99b1;}
.fm-paragraph .it-mfocus {border: 1px solid #ff9d03;}

.fm-paragraph .it-helper {color: #666;}
.fm-paragraph .it-checkbox, .fm-paragraph .it-radio {margin: 0px 2px;padding: 0px;border: 0px solid #fff;background-color: transparent;}

.fm-success input, .fm-success textarea, .fm-success select {background-color: #ffcbcb;}
.fm-error input, .fm-error textarea, .fm-error select {background-color: #ffcbcb;}
input.fm-success, textarea.fm-success, select.fm-success, option.fm-success {background-color: #ffcbcb;}
input.fm-error, textarea.fm-error, select.fm-error, option.fm-error {background-color: #ffcbcb;}

.fm-paragraph .fm-desc {display: block;float: left;text-align: right;min-width: 50%;}
.fm-desc-inline {padding: 2px;width: auto;text-align: center;}
.fm-desc-inline label {padding: 0px 10px;}
.fm-desc-inline .fm-desc {display: inline;float: none;width: auto;}
.fm-paragraph p {padding-bottom: 2px;}
.fm-description {text-align: center;width: 100%;}
.fm-legend {color: #666;}
.fm-comment {display: block;color: #666;}

.dwho-msg-error-icon, .fm-error-icon {padding: 2px 6px;background-image: url(../img/site/button/mini/red/bo-error.gif); background-repeat: no-repeat;background-position: center center;}
.dwho-msg-help-icon, .fm-help-icon {padding: 2px 6px;background-image: url(../img/site/button/mini/blue/bo-help.gif); background-repeat: no-repeat;background-position: center center;}

.dwho-txt-error {text-align:center;width: 100%;color: #bc0000;font-weight: bold;}
.dwho-txt-error .dwho-msg-error-icon {padding-right: 10px;}

.fm-multilist {text-align: center;width: 100%;}
.fm-multilist div {float: left;width: 45%;}
.fm-multilist .slt-inlist {text-align: left;}
.fm-multilist .slt-list {width: 280px;margin: 0px auto;float: none;text-align: left;}
.fm-multilist .slt-outlist {text-align: right;}
.fm-multilist .slt-inlist select, .fm-multilist .slt-list select {float: left;}
.fm-multilist .slt-outlist select {text-align: right;}
.fm-multilist .slt-inlist select, .fm-multilist .slt-outlist select, .fm-multilist .slt-list select {width: 250px;height: 100px;padding: 0px;}

.fm-multilist .slt-inlist select option, .fm-multilist .slt-outlist select option, .fm-multilist .slt-list select option {border: 0px dashed #999;border-bottom-width: 1px;padding: 2px;}
.fm-multilist .slt-inlist select option:hover, .fm-multilist .slt-outlist select option:hover {background-color: #fee6c1;}
.fm-multilist .slt-list select option:hover {background-color: #fee6c1;}
.fm-multilist .slt-inlist .it-disabled option:hover, .fm-multilist .slt-inlist .it-readonly option:hover {background-color: inherit;}
.fm-multilist .slt-list .it-disabled option:hover {background-color: inherit;}
.fm-multilist .slt-outlist .it-disabled option:hover, .fm-multilist .slt-outlist .it-readonly option:hover {background-color: inherit;}
.fm-multilist .bt-add, .fm-multilist .bt-delete {width: 20px;text-align: center;margin-top: 44px;}
.fm-multilist .inout-list, .fm-multilist .bt-updown, .fm-multilist .bt-adddelete {width: 20px;text-align: center;height: 50px;margin-top: 16px;}
.fm-multilist .inout-list img, .fm-multilist .bt-updown img, .fm-multilist .bt-adddelete img {margin: 10px 0px;vertical-align: middle;}
.fm-multilist .inout-list {width: 10%;}

.fm-multilist .slt-outlist select optgroup {border: 0px dashed #999;border-bottom-width: 1px;padding: 2px;}
.fm-multilist .slt-outlist select optgroup option {padding: 0px;border-bottom-width: 0px;}

.fm-txt-success {color: #5dbc00;}
.fm-txt-error {color: #bc0000;}

.txt-left {text-align: left;}
.txt-center {text-align: center;}
.txt-right {text-align: right;}

.width-auto {width: auto;}

.tooltips-over:hover {color: #ff9d03;}
.tooltips-info {position: absolute;margin-top: 13px;display: none;padding: 5px;border: 1px solid #697e92;background-color: #e8eeff;}

#bpc-center #bc-content {margin: 0px;vertical-align: middle;text-align: center;height: 432px;}
#bpc-center #b-content {width: 970px;margin: 0px;text-align: left;}

#bpc-simple #bc-content {margin: 0px;}
#bpc-simple #b-content {width: 970px;padding: 0px 2px;}

#b-tmenu #loginbox {color: #fff;float: right;margin: 0px 20px 20px;background-image: url(../img/menu/top/login/bg.gif);background-repeat: repeat-x;background-position: left top;}
#b-tmenu #loginbox span {font-size: 9pt;padding: 0px 30px 3px;vertical-align: 6px;color: #c6e3ff;}
#b-tmenu #loginbox span b {color: #fff;}

#b-tmenu #toolbox {clear: both;}
#b-tmenu #logo {width: 103px;float: left;}

#b-tmenu .nav {width: 762px;text-align: left;height: 22px;padding: 3px 0px 0px 208px;background-image: url(../img/menu/top/bg.gif);background-repeat: repeat-x;}
#b-tmenu .nav, #b-tmenu .nav a {color: #fff;font-weight: bold;font-size: 9pt;}
#b-tmenu .nav {cursor: default;}
#b-tmenu .nav a {cursor: pointer;}
#b-tmenu .nav li, #b-tmenu .nav .moo {float: left;background-repeat: repeat-x;background-image: url(../img/menu/top/bt-bg-2.gif);background-position: left top;margin-right: 20px;}

* html #b-tmenu .nav {position: absolute;padding-left: 105px;}

#b-tmenu .nav li span {padding: 3px 0px;height: 16px;width: 11px;float: left;background-repeat: no-repeat;background-position: left top;}
#b-tmenu .nav li .span-center {padding: 2px 8px;width: auto;}
#b-tmenu .nav li .span-left {background-image: url(../img/menu/top/bt-l-2.gif);}
#b-tmenu .nav li .span-right {background-image: url(../img/menu/top/bt-r-2.gif);}

#b-tmenu .nav .mov {background-image: url(../img/menu/top/bt-bg-1.gif);}
#b-tmenu .nav .mov .span-left {background-image: url(../img/menu/top/bt-l-1.gif);}
#b-tmenu .nav .mov .span-right {background-image: url(../img/menu/top/bt-r-1.gif);}
#b-tmenu .nav .mov ul {display: block;}

#b-tmenu .nav .stab {position: relative;margin: 22px 0px 0px 2px;}
#b-tmenu .nav ul ul {clear: both;position: absolute;min-width: 100%;width: auto;display: none;border: 1px solid #057ab1;border-bottom-width: 0px;}
#b-tmenu .nav li li {float: none;margin: 0px;text-align: center; padding: 1px 2px 0px;background-image: url(../img/menu/top/bt-smn-bg.gif); color: #fff; font-weight: bold;border: 0px solid #057ab1;border-bottom-width: 1px;}
#b-tmenu .nav li li a {font-size: 8pt;display: block;}

#b-tmenu #tooltips {margin-left: 103px;text-align: center;height: 32px;padding-top: 4px;font-weight: bold;}

#b-tmenu #toolbar {height: 19px;text-align: right;background-image: url(../img/menu/top/toolbar/bg.gif); background-repeat: repeat-x;padding-right: 50px;}
#b-tmenu #toolbar .fm-paragraph {margin: 0px;padding: 0px;width: auto;}
#b-tmenu #toolbar .fm-paragraph input {vertical-align: top;margin-top: 1px;}
#b-tmenu #toolbar .fm-paragraph .itb-image {margin: 0px;}
#b-tmenu #toolbar .sb-advanced-menu {position: absolute;width: 970px;}
#b-tmenu #toolbar-add-menu,#b-tmenu #toolbar-advanced-menu {min-width: 90px;width: auto;float: right;display: none;background-color: #beddfb;border: 1px solid #057ab1;}
#b-tmenu #toolbar-add-menu li,#b-tmenu #toolbar-advanced-menu li {text-align: left;}
#b-tmenu #toolbar-add-menu li a,#b-tmenu #toolbar-advanced-menu li a {display: block;padding: 1px 4px;}
#b-tmenu #toolbar-add-menu li a:hover,#b-tmenu #toolbar-advanced-menu li a:hover {background-color: #7f99b1;color: #fff;}
#b-tmenu #toolbar .fm-paragraph {margin-left: 105px;width: 600px;float: left;text-align: center;}

* html #b-tmenu .nav li li {height: auto;}
* html #b-tmenu #tooltips {margin-top: 25px;margin-left: 0px;}
* html #b-tmenu #toolbar {margin-top: 61px;}

#b-lmenu dt {text-align: center;font-weight: bold;}
#b-lmenu dt span, #b-lmenu dd span {padding: 4px 0px;width: 10px;height: 13px;background-repeat: no-repeat;float: left;background-position: left top;}
#b-lmenu dt .span-center {width: 180px;background-image: url(../img/menu/left/t-bg.gif); background-repeat: repeat-x;}
#b-lmenu dt .span-left {background-image: url(../img/menu/left/t-left.gif);}
#b-lmenu dt .span-right {background-image: url(../img/menu/left/t-right.gif);}

#b-lmenu dd span {padding: 5px 0px;}
#b-lmenu dd .span-center {width: 180px;background-image: url(../img/menu/left/f-bg.gif); background-repeat: repeat-x;}
#b-lmenu dd .span-left {background-image: url(../img/menu/left/f-left.gif);}
#b-lmenu dd .span-right {background-image: url(../img/menu/left/f-right.gif);}
#b-lmenu dd {clear: both;}
#b-lmenu dd dt {text-align: left;padding: 1px 2px;background-image: url(../img/menu/left/s-bg.gif);background-repeat: repeat-x;border: 1px solid #9e9e9e;border-top-width: 0px;border-bottom-color: #7f99b1;}
#b-lmenu dd dd {border: 1px solid #9e9e9e;border-top-width: 0px; border-bottom-color: #7f99b1;}
#b-lmenu dd dd a {display: block; padding-left: 15px;}
#b-lmenu .mn-active a {background-color: #fee6c1;}
#b-lmenu .mn-active a:hover {color: #f96101;}

#b-content .sb-top {text-align: center;}
#b-content .sb-top span {padding: 3px 0px;height: 15px;}
#b-content .sb-top .span-center {width: 740px;background-image: url(../img/content/t-bg.gif); background-repeat: repeat-x;}
#b-content .sb-top .span-center font {font-size: xx-small; margin-left: 5px;}
#b-content .sb-top .span-left {background-image: url(../img/content/t-left.gif);}
#b-content .sb-top .span-right {background-image: url(../img/content/t-right.gif);}

#b-content .sb-foot span {padding: 5px 0px 4px;height: 5px;}
#b-content .sb-foot .span-center {width: 740px;background-image: url(../img/content/f-bg.gif);background-repeat: repeat-x;}
#b-content .sb-foot .span-left {background-image: url(../img/content/f-left.gif);}
#b-content .sb-foot .span-right {background-image: url(../img/content/f-right.gif);}

#b-content .b-infos .sb-content {clear: both;border: 1px solid #9e9e9e;border-top-width: 0px;padding: 5px 5px;}
#b-content .b-infos .sb-graph {margin: auto; padding-top: 15px;}
#b-content .b-form .sb-content {padding: 5px;}
#b-content .b-form form {line-height: 15px;}
#b-content .b-form form span img {}
#b-content .b-form table {margin: auto;}

#b-content .b-list .b-page, #b-content .sb-list .b-page {text-align: right; padding: 2px 10px 5px 0px;}
#b-content .b-list .b-total, #b-content .sb-list .b-total {text-align: left; padding: 2px 0px 5px 10px;}
#b-content .b-list table {width: 760px;}
#b-content .b-list th {margin: 0px;padding: 0px;}
#b-content .b-list th.col-action {width: 50px;}
#b-content .b-list td {font-size: 8pt;margin: 0px;padding: 0px;}
#b-content .b-list .sb-top .th-left, #b-content .b-list .sb-top .th-right {width: 10px;background-image: url(../img/content/t-bg.gif);background-repeat: repeat-x;}
#b-content .b-list .sb-top .th-right .span-right {float: right;background-image: url(../img/content/t-right.gif);}
#b-content .b-list .sb-top .th-center {padding: 3px 0px 2px;background-image: url(../img/content/t-bg.gif); background-repeat: repeat-x;}
#b-content .b-list .sb-content {clear: both;border: 1px solid #9e9e9e;border-top-width: 0px;padding: 5px 10px;}
#b-content .b-list .sb-content td {text-align: center;padding: 2px 2px 1px;border: 0px solid #9e9e9e;border-bottom-width: 1px;}
#b-content .b-list .sb-content .txt-left {text-align: left;}
#b-content .b-list .sb-content .txt-right {text-align: right;}
#b-content .b-list .sb-content .td-left {padding-left: 10px;border: 1px solid #9e9e9e;border-right-width: 0px;border-top-width: 0px;}
#b-content .b-list .sb-content .td-right {padding-right: 10px;border: 1px solid #9e9e9e;border-left-width: 0px;border-top-width: 0px;}

#b-content .b-list .sb-content .td-single {border: 1px solid #9e9e9e;border-top-width: 0px;}
#b-content .b-list .sb-content .td-noborder {border: 0px solid #9e9e9e;}
#b-content .b-list .sb-content .td-alignright {border: 1px solid #9e9e9e;border-left-width: 0px;border-top-width: 0px; text-align:right}
#b-content .b-list .sb-content .td-alignleft {border: 1px solid #9e9e9e;border-left-width: 0px;border-top-width: 0px; text-align:left}

#b-content .b-list form .sb-content td label {cursor: pointer;}

#b-content .b-list .sb-foot .td-left, #b-content .b-list .sb-foot .td-right {width: 10px;background-image: url(../img/content/f-bg.gif);background-repeat: repeat-x;vertical-align: top;}
#b-content .b-list .sb-foot .td-right .span-right {float: right;background-image: url(../img/content/f-right.gif);}
#b-content .b-list .sb-foot .td-center {padding: 0px;background-image: url(../img/content/f-bg.gif); background-repeat: repeat-x;}

#b-content .b-list .l-infos-1on2 {background-color: #fff;}
#b-content .b-list .l-infos-2on2 {background-color: #fee6c1;}
#b-content .b-list .l-infos-3on2 {background-color: #ddd;}
#b-content .b-list .l-infos-over {background-color: #beddfb;}
#b-content .b-list .l-infos-error {background-color: #ffcbcb;}

#b-content .b-list .sb-content a, .sb-list .sb-content a {text-decoration: underline; color: #0063bf;}
#b-content .b-list .l-infos-over a {text-decoration: none; color: #000;}

#b-content .b-list .icons-list {margin-right: 5px;vertical-align: bottom;}

* html #b-content .b-list .sb-top .th-right {width: 0px;}
* html #b-content .b-list .sb-foot .td-right {width: 0px;}

#b-content .sb-list table {width: 100%;}
#b-content .b-form .sb-list table {margin-top: 10px;}
#b-content .sb-list th {padding: 1px 0px;}
#b-content fieldset {width: 715px;max-width: 715px;margin: 0px auto 20px;}
#b-content fieldset .sb-list table {width: 720px;}
#b-content .sb-list th {text-align: center;background-position: left top; background-repeat: repeat-x;background-image: url(../img/content/top/bg-1.gif);background-color: #fff;padding-top: 2px;border: 1px solid #999;border-right-width: 0px;font-size: 8pt;}
#b-content .sb-list .th-left {border-right-width: 0px;}
#b-content .sb-list .th-right, #b-content .sb-list .th-single {border-right-width: 1px;}
#b-content .sb-list .th-rule { width: 30px; }
#b-content .sb-list td {text-align: center;padding: 2px 0px;background-color: #eee;border: 0px solid #999;border-left-width: 1px;border-bottom-width: 1px;font-size: 8pt;vertical-align: middle;}
#b-content .sb-list .td-left {border-right-width: 0px;}
#b-content .sb-list .td-right {border-right-width: 1px;}
#b-content .sb-list .td-noleftright {border-right-width: 0px;border-left-width: 0px;}
#b-content .sb-list .td-single {border: 1px solid #999;border-top-width: 0px;}
#b-content .sb-list .td-singlenotop {border: 1px solid #999;}
#b-content .sb-list .l-subth td {background-color: #ddd; font-weight: bold;}
#b-content .sb-list .l-infos-1on2 td {background-color: #eee;}
#b-content .sb-list .l-infos-2on2 td {background-color: #e3e5fc;}
#b-content .sb-list .l-infos-3on2 td {background-color: #ddd;}
#b-content .sb-list .l-infos-over td {background-color: #fff;}
#b-content .sb-list .l-infos-error td {background-color: #ffbcbc;}
#b-content .sb-list .txt-left {text-align: left;padding-left: 2px;}
#b-content .sb-list .txt-center {text-align: center;}
#b-content .sb-list .txt-right {text-align: right;padding-right: 2px;}

#b-content .sb-smenu {clear: both;text-align: left;height: 17px;color: #999;border: 1px solid #9e9e9e;border-top-width: 0px;border-bottom-width: 0px;padding-bottom: 5px;}
#b-content .sb-smenu li {cursor: pointer;}
#b-content .sb-smenu a {outline: none;}
#b-content .sb-smenu li, #b-content .sb-smenu .dwsm-blur {float: left;background-repeat: repeat-x;background-position: left top;}
#b-content .sb-smenu li .tab {float: left;background-repeat: repeat-x;background-position: left top;}

#b-content .sb-smenu li span {float: left;width: 10px;height: 16px;background-repeat: no-repeat;background-position: left top;}
#b-content .sb-smenu li .span-center {padding: 1px 6px 0px 12px;width: auto;}
#b-content .sb-smenu li .span-right {height: 17px;}
#b-content .sb-smenu .dwsm-blur .tab, #b-content .sb-smenu .dwsm-blur-last .tab, #b-content .sb-smenu .dwsm-blur-before .tab {background-image: url(../img/content/menu/bt-bg-2.gif); color: #999;}
#b-content .sb-smenu .dwsm-blur .tab a, #b-content .sb-smenu .dwsm-blur-last .tab a, #b-content .sb-smenu .dwsm-blur-before .tab a, #b-content .sb-smenu .dwsm-select-before .tab a {color: #666;outline: none;}
#b-content .sb-smenu .dwsm-blur .span-right {background-image: url(../img/content/menu/bt-r-2.gif);}
#b-content .sb-smenu .dwsm-blur-last .span-right {background-image: url(../img/content/menu/bt-r-2-last.gif);}

#b-content .sb-smenu .dwsm-select .tab, #b-content .sb-smenu .dwsm-select-last .tab {background-image: url(../img/content/menu/bt-bg-1.gif); color: #000;}
#b-content .sb-smenu .dwsm-select .span-right {background-image: url(../img/content/menu/bt-r-1.gif);}
#b-content .sb-smenu .dwsm-select-last .span-right {background-image: url(../img/content/menu/bt-r-1-last.gif);}
#b-content .sb-smenu .dwsm-select-before .tab {background-image: url(../img/content/menu/bt-bg-2.gif);}

#b-content .sb-smenu .dwsm-focus .tab, #b-content .sb-smenu .dwsm-focus-last .tab, #b-content .sb-smenu .dwsm-focus-before .tab {background-image: url(../img/content/menu/bt-bg-2.gif); color: #000;}
#b-content .sb-smenu .dwsm-focus .span-right {background-image: url(../img/content/menu/bt-r-2.gif);}
#b-content .sb-smenu .dwsm-focus-last .span-right {background-image: url(../img/content/menu/bt-r-2-last.gif);}

#b-content .sb-smenu .dwsm-blur-before .span-right, #b-content .sb-smenu .dwsm-select-before .span-right, #b-content .sb-smenu .dwsm-focus-before .span-right {background-image: url(../img/content/menu/bt-r-1-before.gif);}
#b-content .sb-smenu .stab {position: relative;margin-top: 16px;}
#b-content .sb-smenu ul ul {position: absolute;min-width: 92%;white-space: nowrap;display: none;border: 0px solid #9e9e9e;border-top-width: 1px;}
#b-content .sb-smenu li li {float: none;height: 14px;text-align: left;padding: 1px 3px;background-image: url(../img/content/menu/bt-bg-3.gif); color: #000; border: 1px solid #9e9e9e;border-top-width: 0px;}
#b-content .sb-smenu li li a {font-size: 8pt;display: block;}

#b-content fieldset {border: 1px solid #055a82;border-style: dashed;}
#b-content fieldset legend {color: #f96101;font-weight: bold;padding: 0px 5px 5px;}

#b-content div .gauge {width: 104px;padding: 2px;border-right-width: 0px;}
#b-content div .gauge div {text-align: left;background-color: #49c4ff;width: 100px;height: 10px;border:1px solid #000;font-size:1pt;}
#b-content div .gauge div div {background-color: #055a82;width: 0px;border:0px solid #000;}
#b-content div .gaugepercent {width: 50px;border-left-width: 0px;}

#bpc-simple .b-infos {width: 966px;}
#bpc-simple .sb-top .span-center, #bpc-simple .sb-foot .span-center {width: 946px;}

#r-login {height: 500px;}
#r-login .b-infos {width: 420px;margin: 150px auto;}
#r-login .b-field {padding: 50px 0px;background-image: url(../img/xivo/bg-login.gif);background-position: right center;background-repeat: no-repeat;}
#r-login .b-field .fm-desc {display: inline;float: none;text-align: left;width: auto;}
#r-login .sb-top .span-center, #r-login .sb-foot .span-center {width: 400px;}

#r-home #leftinfo {float: left;width: 44%;padding-right: 5px;}
#r-home #sysinfo table {width: 100%;padding-bottom: 10px;}
#r-home #devstats table {width: 100%;padding-bottom: 10px;}
#r-home #cpustats {float: right;width: 55%;}
#r-home #cpustats table {width: 100%;padding-left: 5px;padding-bottom: 10px;}
#r-home #netstats {float: right;width: 55%;}
#r-home #netstats table {width: 100%;padding-left: 5px;padding-bottom: 10px;}
#r-home #memstats table {width: 100%;padding-bottom: 10px;}
#r-home .monit-group table {width: 100%;padding-bottom: 10px;}
#r-home .monit-group td img {vertical-align: bottom;}
#r-home .monit-state-notaccessible {color: #bc0000;}
#r-home .monit-state-notonline {color: #bc0000;}
#r-home .monit-state-notrunning {color: #bc0000;}
#r-home .monit-state-accessible {color: #5dbc00;}
#r-home .monit-state-online {color: #5dbc00;}
#r-home .monit-state-running {color: #5dbc00;}
#r-home .monit-state-initializing {color: #1772ce;}
#r-home .monit-state-notmonitored {color: #f96101;}

.dwho-suggest {position: absolute; padding: 10px 0px 0px 1px;}
.dwho-suggest dl {overflow: hidden;border: 1px solid #9e9e9e;background-image: url(../img/menu/left/s-bg.gif);background-repeat: repeat-x;background-position: left top;background-color: #beddfb;}
.dwho-suggest dl dt, .dwho-suggest dl dd {color: #000; padding-left: 2px; text-align: left;white-space: nowrap;cursor: pointer;}
.dwho-suggest dl dd {padding-left: 6px;color: #888;}
.dwho-suggest dl dt.dws-highlight {background-color: #055a82;color: #fff;}
.dwho-suggest dl dd.dws-highlight {background-color: #055a82;color: #888;}

.dwho-form-help {position: absolute; padding: 5px;border: 1px solid #c0c0c0;background-color: #ffec5a;}
.dwho-form-error {position: absolute; padding: 5px;border: 1px solid #c0c0c0;background-color: #ffcbcb;}

input.readonly {background-color: #F1F1F1;color: #7E7E7E;}

.xivo-icon {width: 16px;height: 16px;padding-right: 8px;}
.xivo-icon-secure {background: url(../img/site/utils/nm-secure-lock.png) 0px 0px no-repeat;}
.dialog-helper {position: absolute;border: 1px solid gray;background: #ccc;padding: 2px;display: none;}

.xivo-messages {margin: 0;padding: 0;border: 1px solid;}
.xivo-messages ul {margin: 0;padding: 0;}
.xivo-messages ul li {margin: 3px;}
.xivo-messages ul ul li {margin-left: 10px;}
.xivo-messages img {border: 0;}
.xivo-messages .xm_toggle {display: block;font: bold 11px/16px Arial, Helvetica, sans-serif;}
.xivo-messages .xm_toggle span {float: left;}
.xivo-messages .bt_export {float: right;display: block;font: bold 11px/16px Arial, Helvetica, sans-serif;}
.xivo-error {border-color: red;background: #ed6a6a;}
.xivo-warning {border-color: yellow;background: #FF9;}
.xivo-info {border-color: green;background: #CFC;}
.xivo-notice {border-color: blue;background: #69f;}
.xivo-debug {border-color: black;background: #ccc;}
.xivo-warning, .xivo-error, .xivo-info, .xivo-notice, .xivo-debug {padding: 3px;margin: 4px;line-height: 1em;}

.logo_proto    {height: 28px;outline: none;padding: 0 .85em;margin: auto;display: inline;float: left;}
.logo_proto    a {display: block;text-decoration: none;direction: ltr;text-shadow: #eee 0 -1px 0;font: bold 12px/28px Arial, Helvetica, sans-serif;letter-spacing: 1px;}
 
 /* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }


.active {
  font-weight: bold;
}

.active:before {
  padding-right: 3px;
  content: url('/img/site/button/restart.gif');
}

.svc-left {
	padding-left: 15px !important;
	text-align: left !important;
}

.svc-center {
	text-align: middle !important;
}

#box_installer {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#box_installer.bi_bg {
	background-color: #000;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#box_installer .bi_loading {
	position: fixed;
	height: 75px;
	width: 75px;
	z-index: 103;
	top: 50%;
	left: 50%;
	margin: -38px 0 0 -38px; /* -height/2 0 0 -width/2 */
}

#box_installer .bi_message {
	position: fixed;
	width: 500px;
	height: 150px;
	z-index: 103;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -250px; /* -height/2 0 0 -width/2 */
	background: #eee;
	filter: alpha(opacity =   0);
	-moz-opacity: 1;
	opacity: 100;
	border: 1px solid #333;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

#user-vm-add,
#user-vm-delete
{
	margin: 0 4px;
}

.linefeatures-device-select2 {
	width: 200px;
	font-size: 8pt;
}



/*
* Select2 xivo theme
*/

.select2-container--xivo .select2-selection--single {
  background-color: #beddfb;
  border: 1px solid #999;
  border-radius: 0px;
	outline: 0;
	font-size: 8pt;
	height: 18px!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
  .select2-container--xivo .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--xivo .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 18px; }
  .select2-container--xivo .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--xivo .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--xivo .select2-selection--single .select2-selection__arrow {
		color: black;
    border: none;
    border-left: 0px solid #aaa;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 16px;
    position: absolute;
    top: 1px;
    right: 1px;
		width: 20px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }
    .select2-container--xivo .select2-selection--single .select2-selection__arrow b {
      border-color: black transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--xivo[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--xivo[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--xivo.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--xivo.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--xivo.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent black transparent;
      border-width: 0 4px 5px 4px; }

.select2-container--xivo.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--xivo.select2-container--open.select2-container--below .select2-selection--single {
	background-color: #beddfb;	
  border-bottom: none;
  border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--xivo .select2-selection--multiple {
  background-color: #beddfb;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--xivo .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--xivo .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--xivo .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--xivo .select2-selection--multiple .select2-selection__choice {
    background-color: #beddfb;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--xivo .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--xivo .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }

.select2-container--xivo[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }

.select2-container--xivo[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--xivo[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--xivo.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--xivo.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--xivo.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--xivo .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--xivo .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none; }

.select2-container--xivo .select2-dropdown {
  background-color: #beddfb;
  border: 1px solid transparent; }

.select2-container--xivo .select2-dropdown--above {
  border-bottom: none; }

.select2-container--xivo .select2-dropdown--below {
  border-top: none; }

.select2-container--xivo .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--xivo .select2-results__option[role=group] {
  padding: 0; }

.select2-container--xivo .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--xivo .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--xivo .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--xivo.select2-container--open .select2-dropdown {
  border-color: #5897fb; }
